let mapleader = ' '

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

" Editor
set relativenumber
set incsearch
set ignorecase
set smartcase
set scrolloff=5
set clipboard+=unnamedplus

" Navigation
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gr <Action>(FindUsages)
map <leader>n :NERDTree<CR>
map <leader>s <Action>(SelectInProjectView)

" Tabs
map <leader>w <Action>(CloseContent)

" Refactoring
map <leader>c <Action>(IntroduceConstant)
map <leader>m <Action>(ExtractMethod)
map <leader>rn <Action>(RenameElement)
map <leader>f <Action>(OptimizeImports)

" Diagnostics
map K <Action>(QuickJavaDoc)
map gl <Action>(ShowErrorDescription)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" Debugging
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>d <Action>(Debug)

" Tools
map <leader>t <Action>(ActivateTerminalToolWindow)
