let mapleader = ' '

" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

" Enable relative line numbers
set relativenumber

" Enable incremental search
set incsearch

" Enable case-insensitive search
set ignorecase
set smartcase

" Show lines above and below cursor
set scrolloff=5

" Use clipboard as default buffer
set clipboard+=unnamedplus

" Nerdtree settings
map <leader>n :NERDTree<CR>

" Jetbrains Actions
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>c <Action>(IntroduceConstant)
map <leader>d <Action>(Debug)
map <leader>f <Action>(OptimizeImports)
map <leader>m <Action>(ExtractMethod)
map <leader>r <Action>(RenameElement)
map <leader>s <Action>(SelectInProjectView)
map <leader>t <Action>(ActivateTerminalToolWindow)
